<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Interview Coach</title>

    <style>
        body {
            h1 {
                color: #185FA5;
            }

            background-color: #f0f4f8;
            text-align: center;
            font-family: Arial;
        }
    </style>
</head>

<body>
    <form action="/save" method="POST">
        <label>Name:</label>
        <input type="text" name="name"><br><br>

        <label>Degree:</label>
        <input type="text" name="degree"><br><br>

        <label>College:</label>
        <input type="text" name="college"><br><br>

        <label>Academic Year:</label>
        <input type="text" name="year"><br><br>

        <button type="submit">Save Profile</button>
    </form>
    <h1>Welcome to AI Interview Prep..!!!</h1>
</body>

</html>